In [1]:
import numpy as np
import pandas as pd
import csv
from sklearn.impute import KNNImputer
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:

data = pd.read_csv("bank-full.csv")

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [17]:
#Couting null values in each column.
# print(data.isnull().sum())

In [22]:
ord_enc = OrdinalEncoder()
enc = LabelEncoder()  
# marital
# education
# default
# housing
# loan
# contact
# month
# poutcome
# y


enc.fit(data['job']) 
data["job"] = ord_enc.fit_transform(data[["job"]])

enc.fit(data['education']) 
data["education"] = ord_enc.fit_transform(data[["education"]])

enc.fit(data['default']) 
data["default"] = ord_enc.fit_transform(data[["default"]])


enc.fit(data['housing']) 
data["housing"] = ord_enc.fit_transform(data[["housing"]])

enc.fit(data['loan']) 
data["loan"] = ord_enc.fit_transform(data[["loan"]])

enc.fit(data['contact']) 
data["contact"] = ord_enc.fit_transform(data[["contact"]])

enc.fit(data['month']) 
data["month"] = ord_enc.fit_transform(data[["month"]])

enc.fit(data['poutcome']) 
data["poutcome"] = ord_enc.fit_transform(data[["poutcome"]])

enc.fit(data['marital']) 
data["marital"] = ord_enc.fit_transform(data[["marital"]])

enc.fit(data['y']) 
data['y'] = ord_enc.fit_transform(data[['y']])

In [23]:
data.head(100)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4.0,1.0,2.0,0.0,2143,1.0,0.0,2.0,5,8.0,261,1,-1,0,3.0,0.0
1,44,9.0,2.0,1.0,0.0,29,1.0,0.0,2.0,5,8.0,151,1,-1,0,3.0,0.0
2,33,2.0,1.0,1.0,0.0,2,1.0,1.0,2.0,5,8.0,76,1,-1,0,3.0,0.0
3,47,1.0,1.0,3.0,0.0,1506,1.0,0.0,2.0,5,8.0,92,1,-1,0,3.0,0.0
4,33,11.0,2.0,3.0,0.0,1,0.0,0.0,2.0,5,8.0,198,1,-1,0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,36,4.0,1.0,2.0,0.0,101,1.0,1.0,2.0,5,8.0,426,1,-1,0,3.0,0.0
96,55,1.0,1.0,1.0,0.0,383,0.0,0.0,2.0,5,8.0,287,1,-1,0,3.0,0.0
97,60,5.0,1.0,2.0,0.0,81,1.0,0.0,2.0,5,8.0,101,1,-1,0,3.0,0.0
98,39,9.0,1.0,1.0,0.0,0,1.0,0.0,2.0,5,8.0,203,1,-1,0,3.0,0.0
99,46,4.0,1.0,2.0,0.0,229,1.0,0.0,2.0,5,8.0,197,1,-1,0,3.0,0.0

In [24]:
data.to_csv ('dataset_for_pattrens_finding.csv', index = False, header=True)